#error coeds from config file
error.code.application.not.found=7
error.code.application.already.present=8
error.code.user.update.pending=10
error.code.invalid.token=11
error.code.invalid.roles=15
error.code.permission.denied=18
error.code.io.exception=19
error.code.invalid.application.id.or.password=24
error.code.user.service.binding.failed=26
error.code.invalid.mobile=32
error.code.invalid.application.for.user=33
error.code.certificate.pinning.failure=34
error.code.server.error=35
error.code.account.not.found=38
error.code.iamci2.call.failed=39
error.code.lookup.id.compulsory=41
error.code.approval.attempt.type.invalid=43
error.code.invalid.consumer.id=44
error.code.approval.attempt.not.approved=45
error.code.invalid.application.id=46
error.code.invalid.client.id=601
error.code.invalid.data=602
error.code.user.block=603
error.code.consumer.not.present.data=604
error.code.service.not.found=605
error.code.invalid.service.for.application=606
error.code.user.service.binding.already.present=607
error.code.user.service.binding.not.found=608
error.code.user.not.found=609
error.code.transaction.not.found=610
error.code.invalid.transaction.type=611
error.code.verification.failed=612
error.code.user.name.password.invalid=613
error.code.invalid.application.type=616
error.code.blocked.for.reset.pin=619
error.code.reset.pin.completed=620
error.code.service.binding.not.active=621
error.code.user.service.already.present=622
error.code.service.not.found=623
error.code.user.data.empty=624
error.code.request.not.found=626
error.code.invalid.application.name=628
error.code.user.service.binding.blocked=633
error.code.application.password=635
error.code.service.already.enabled.for.user=638
error.code.user.application.binding.not.found=640
error.code.attribute.not.found=643
error.code.evidence.not.found=644
error.code.pending.authentication.attempt.not.found=646
error.code.attribute.addition.already.present=647
error.code.invalid.request=648
error.code.attribute.already.present=649
error.code.already.approved=650
error.code.attribute.request.already.present=651
error.code.request.is.timeout=653
error.code.attribute.updation.already.present=654
error.code.attribute.deletion.already.present=655
error.code.existing.and.updation.data.is.same=656
error.code.attribute.master.request.already.present=657
error.code.already.send.to.checker=658
error.code.evidence.request.already.send.to.user=660
error.code.attribute.addition.id.invalid=661
error.code.invalid.attribute.type=662
error.code.invalid.attribute.name=663
error.code.file.is.empty=664
error.code.file.not.supported=665
error.code.attribute.addition.already.present=666
error.code.edit.account.failed=667
error.code.attribute.value.is.invalid=668
error.code.evidence.request.already.rejected=669
error.code.application.edit.already.present=671
error.code.user.onboard.already.present=672
error.code.csv.download.failed=674
error.code.user.session.is.already.active=675
error.code.sra.gateway.setting.request.data.not.found=677
error.code.sra.gateway.setting.onboard.request.already.present=678
error.code.sra.gateway.setting.update.request.already.present=679
error.code.sra.gateway.setting.delete.request.already.present=680
error.code.sra.gateway.setting.not.found=681
error.code.sra.application.gateway.setting.rel.not.found=682
error.code.application.gateway.setting.not.found=683
error.code.sra.gateway.setting.data.already.present=684
error.code.enterprise.not.found=685
error.code.sra.gateway.setting.already.binded=686
error.code.policy.onboard.request.already.present=687
error.code.policy.edit.request.already.present=688
error.code.device.edit.request.already.present=689
error.code.edit.request.already.present=690
error.code.user.service.bind.request.already.present=691
error.code.user.service.unbind.request.already.present=692
error.code.user.group.already.exists=693
error.code.user.group.not.found=694
error.code.user.group.data.same=695
error.code.user.group.create.request.already.present=696
error.code.user.group.binding.already.exists=697
error.code.user.group.binding.not.found=698
error.code.group.application.binding.already.exists=700
error.code.user.group.application.binding.not.found=701
error.code.identity.provider.create.request.already.present=702
error.code.application.already.binded=703
error.code.user.group.update.request.already.present=704
error.code.user.usergroup.mapping.request.already.present=705
error.code.application.usergroup.mapping.request.already.present=706
error.code.contact.request.already.present=707
error.code.contact.edit.request.already.present=708
error.code.mapper.create.request.already.present=709
error.code.mapper.not.found=710
error.code.ad.sync.failed=711
error.code.sra.details.not.matched=712
error.code.invalid.file.name=713
error.code.file.read.failed=714
error.code.license.check.failed=715
error.code.inprogress=716
error.code.enterprise.already.onboarded=717
error.code.enterprise.not.onboarded=718
error.code.binding.failed=719
error.code.notification.type.not.found=720
error.code.two.factor.auth.disabled.for.user=721
error.code.two.factor.auth.disabled.for.application=722
error.code.invalid.connection.setting=723
error.adfs.detail.not.found=724
error.code.ad.detail.not.found=725
error.code.same.maker.request.approved=726
error.code.invalid.userid.password=727
error.code.credentials.not.present=728
error.code.evidence.is.required=729
error.code.invalid.type=730
error.code.application.not.active=730
error.code.parsing.csv=731
error.code.request.not.pending=732
error.code.attribute.master.addition.already.present=733
error.code.attribute.metadata.not.found=734
error.code.verifier.not.found=736
error.code.evidence.request.already.approved=737
error.code.usergroup.delete.request.already.present=738
error.code.attribute.not.present=739
already.present.in.system.code=740
validation.error.code=741
user.not.found=742
error.code.internal.server.error=800
error.code.state.machine.workflow.onboard.request.already.present=801
error.code.state.machine.workflow.update.request.already.present=802
error.code.account.custom.state.machine.onboard.request.already.present=803
error.code.account.custom.state.machine.update.request.already.present=804
error.code.invalid.account.id=805
error.code.invalid.fallout.operation=809
error.code.attribute.update.failed=735
error.code.attribute.addition.failed=676
error.code.adfs.password.encryption.failed=810
error.code.adfs.password.decryption.failed=811
error.code.multiple.identities.found=813
error.code.user.login.time.expired=816
error.code.template.not.found=817


#error messages
error.messages.invalid.data=Invalid data
error.message.transaction.already.exists=This transactionId is already taken by another approval attempt in this application
error.message.user.block=User is blocked
error.message.consumer.not.present.data=Consumer not present
error.message.service.not.found=Service not found
error.message.invalid.service.for.application=Invalid service for Application
error.message.user.service.binding.already.present= User and Service binding already present
error.message.user.service.binding.not.found=User and Service binding not found
error.message.user.not.found=User not found
error.message.transaction.not.found=Transaction not found
error.message.invalid.transaction.type=Only sign transaction type can be verified
error.message.verification.failed=Verification Failed
error.message.user.name.password.invalid=Username or password invalid
error.message.invalid.application.type=Invalid Application Type
error.message.blocked.for.reset.pin=User status is BLOCKED_FOR_RESET_PIN
error.message.reset.pin.completed=User status is RESET_PIN_COMPLETED
error.message.user.service.binding.not.active=Services are not active for user
error.message.user.service.already.present=Services are binded to the user
error.message.user.service.not.found=User service binding not present
error.message.user.data.empty=Users not present for the provided selection
error.message.request.not.found=Request not found
error.message.invalid.application.name=Invalid Application Name
error.message.user.service.binding.blocked=Service is blocked for user
error.message.application.password=Invalid application secret
error.message.services.already.enabled.for.user=Services are already enabled for user
error.message.user.application.binding.not.found=User Application binding not found 
error.message.attribute.not.found=Attribute not found
error.message.evidence.not.found=Evidence Not Found
error.message.pending.authentication.attempt.not.found=Pending Authentication attempt not found
error.message.attribute.addition.already.present=Attribute Addition Request already present
error.message.invalid.request=Invalid Request
error.message.attribute.already.present=Attribute is already present
error.message.attribute.request.already.present=Attribute Request already present for User
error.message.request.is.timeout=Request is Timed out
error.message.attribute.updation.already.present=Attribute Master Updation Request already present
error.message.attribute.deletion.already.present=Attribute Master Deletion Request already present
error.message.existing.and.updation.data.is.same=Existing and updated data is same
error.message.attribute.master.request.already.present=Attribute Master Request already present
error.message.request.already.send.to.checker=Request already sent to checker
error.message.evidence.request.already.send.to.user=Evidence request is already sent to user
error.message.attribute.addition.id.invalid=Attribute Addition ID is invalid
error.message.invalid.attribute.type=Invalid attribute type
error.message.invalid.attribute.name=Invalid attribute Name
error.message.file.is.empty=File not found
error.message.application.onboard.already.present=Application onboard request already present
error.message.edit.account.failed=Edit account Failed
error.message.attribute.value.is.invalid=Attribute value is invalid
error.message.evidence.request.already.rejected=Evidence request already rejected
error.message.application.edit.already.present=Application edit request already present
error.message.user.onboard.already.present=User onboard request already present
error.developer.csv.download.failed=CSV Download failed
error.message.user.session.is.already.active=User Session is already active
error.message.sra.gateway.setting.request.data.not.found=SRA Gateway Setting Data Not Found
error.message.sra.gateway.setting.onboard.request.already.present=SRA Gateway setting Onboard Request already present
error.message.sra.gateway.setting.update.request.already.present=SRA Gateway setting Update Request already present
error.message.sra.gateway.setting.delete.request.already.present=SRA Gateway setting delete Request already present
error.message.sra.gateway.setting.not.found=SRA Gateway Setting Not Found
error.message.sra.application.gateway.setting.rel.not.found=SRA Application gateway Setting Rel Not Found
error.message.sra.application.gateway.setting.not.found=SRA Application gateway Setting Not Found
error.message.sra.gateway.setting.data.already.present=SRA Gateway setting Data already present
error.message.enterprise.not.found=Enterprise not found
error.message.sra.gateway.setting.already.binded=SRA Gateway is binded with application, please modify the gateway for the applications to delete the gateway
error.message.policy.onboard.request.already.present=Onboard policy request already present
error.message.policy.edit.request.already.present=Edit policy request already present
error.message.device.edit.request.already.present=Edit device request already present
error.message.token.edit.request.already.present=Edit token request already present
error.message.user.service.bind.request.already.present=User service bind request already present
error.message.user.service.unbind.request.already.present=User service unbind request already present
error.message.user.group.not.found=User group not found
error.message.user.group.data.same=Existing and updated Group data same
error.message.user.group.create.request.already.present=User group create request already present
error.message.identity.provider.create.request.already.present=Identity provider create request already present
error.message.user.group.update.request.already.present=User group update request already present
error.message.user.usergroup.mapping.request.already.present=User to user-group mapping request already present
error.message.application.usergroup.mapping.request.already.present=Application to user-group mapping request already present
error.message.contact.onboard.already.present=Onboard contact request already present
error.message.contact.edit.request.already.present=Edit contact request already present
error.message.mapper.create.request.already.present=Mapper create request already present
error.message.mapper.not.found=Mapper not found
error.message.sra.details.not.matched=Tunnel application does not match with provided tunnel host and tunnel port
error.message.invalid.file.name=Invalid File name
error.message.inprogress=CSV processing is in progress
error.message.enterprise.already.onboarded=Enterprise already onboarded
error.message.notification.type.not.found=Notification Type not found
error.message.two.factor.auth.disabled.for.user=Two factor authentication not enabled for the user
error.message.two.factor.auth.disabled.for.application=Two factor authentication not enabled for the application
error.message.invalid.connection.settings=Invalid activemq connection settings
error.message.adfs.detail.not.found=Adfs detail not found
error.message.ad.detail.not.found=Ad detail not found
error.message.same.maker.request.approved=Cannot approve or reject your own request
error.message.invalid.userid.password=Invalid user id or password
error.message.invalid.type=Selected file type is invalid
error.message.parsing.csv=CSV file contains Incorrect data
error.message.request.not.found=Request is already
error.message.attribute.master.addition.already.present=Attribute Master already present
 error.message.attribute.metadata.not.found=Attribute Master Not Found
 error.message.verifier.not.found=Verifier Not Found
 error.message.evidence.request.already.approved=Evidence request already approved
 error.message.user.group.delete.request.already.present=User-group delete request already present
 error.message.attribute.not.present=Attribute not present
 error.message.internal.server.error=Internal server error
 error.message.user.binding.already.present=User to user-group mapping already present
 error.message.invalid.data.otp=Invalid data, OTP placeholder not found in the message body, or the message does not meet the required format
 error.dev.message.invalid.data=Data Validation Failed
 error.message.invalid.transaction.id=Transaction-Id not found
 error.dev.message.invalid.sign.transaction.id=Sign Transaction-Id not found
 error.dev.message.invalid.status=Invalid data. Following field is invalid - status
 error.dev.message.invalid.token=User provided bad bearer token
 error.message.user.provided.invalid.client.id.or.secrete=User provided bad application id or application secret
 error.message.invalid.esc.file.name=File name not specified
 error.message.invalid.file.type=Invalid File type
 error.message.attribute.password=Invalid attribute value
 error.message.user.password=Invalid user credential value
 error.message.update.approval.attempt.failed=Approval attempt is already
 error.message.invalid.value=Invalid value
 error.message.empty.csv=CSV file provided is empty
 error.message.not.supported=File not supported
 error.message.evidence.export.evidence.failed=Export Evidence Failed
 error.message.edit.credential.failed=You don't have permission to change user's credential as user is not in PARTIALLY_ACTIVE state
 error.message.application.already.binded=Application(s) is/are already mapped to another group
 error.message.licence.check.failed.due.to.expired.license=Your license has expired.Please contact" + " your administrator.
 error.message.license.check.failed.due.to.application.exceeded=You have exceeded the allowed " + "application count. Please contact your administrator.
 error.message.license.check.failed.due.to.user.exceed=You have exceeded the allowed " + "users count. Please contact your administrator.
 error.message.enterprise.not.onboarded=Enterprise not onboarded, Contact Super Admin"
 error.message.hotp.generation.failed=otp generation failed
 error.message.hotp.validation.failed=otp validation failed
error.message.attribute.update.failed=Attribute update failed
 error.message.multiple.identities.found = Multiple identities found , Need to raise manual identity merge request
 #humanized messages
 humanised.message.authentication.failed=Please Contact Admin, Authentication Failed
 humanised.authentication.failed=Authentication failed
 humanised.get.admin.failed=Error fetching admins
 humanized.get.users.failed=Error fetching users
 humanised.get.user.status.failed=Error fetching user status
 humanised.get.service.failed=Error fetching services
humanised.get.application.failed=Error fetching applications
humanised.get.approval.attempt.failed=Error fetching approval attempt
humanised.user.update.failed=User update failed
humanised.user.onboard.failed=User onboard failed
humanized.change.password.failed=Change password failed
humanized.policy.onboard.failed=Policy onboard failed
humanized.contact.onboard.failed=Contact add failed
humanized.get.policy.failed=Get Policies failed
humanized.get.contact.failed=Get contacts failed
humanized.policy.edit.failed=Policy edit failed
humanized.contact.edit.failed=Contact edit failed
humanized.user.approval.failed=User approval failed
humanized.user.binding.failed=User Service binding failed
humanized.user.unbinding.failed=User Service unbinding failed
humanized.file.upload.failed=File upload failed
humanized.application.secrete.failed=Application secret generation failed
humanized.get.decryption.failed=Error fetching Decryption key
humanized.approval.attempt.update.failed=Error updating Approval attempt
humanized.approval.attempt.creation.failed=Approval attempt generation failed
humanized.application.deletion.failed=Application deletion failed
humanized.get.user.subscription=Error fetching user subscriptions
humanized.unbind.services=Error unbinding services for user
humanized.bind.service=Error binding services for user
humanized.error.audit.trail=Error fetching audit trail
humanized.error.validation.password=Password invalid
humanized.logout.failed=Logout failed
humanized.request.approval.failed=Request Approval failed
humanized.get.request.failed=Get Requests failed
humanized.verification.failed=Attribute Verification failed
humanized.attribute.addition.failed=Attribute Addition failed
humanized.get.attribute.failed=Get Attribute failed
humanized.get.config.failed=Error fetching config properties
humanized.upload.attribute.request=Upload attribute from user Failed
humanized.get.attribute=Error fetching user's attributes
humanized.request.attribute=Request Attribute Failed
humanized.get.evidence.status=Get Evidence failed
humanized.approve.evidence.request=Approve or Reject Evidence request  failed
humanized.evidence.request=Evidence request failed
humanized.get.enterprise=Get Enterprises Failed
humanized.get.verifiers=Get Verifiers Failed
humanized.get.attribute.request=Get Attribute Request Failed
humanized.onboard.application=Application onboard failed
humanized.edit.application=Application edit failed
humanized.delete.application=Application delete failed
humanized.add.tunnel.log=Tunnel log addition failed
humanized.get.remote.settings=Error fetching remote access settings
humanized.csv.download.failed=User onboard sample csv file download failed
humanized.get.sra.gateway.setting=Error fetching sra gateway setting
humanized.add.sra.gateway.setting=Error Adding sra gateway setting
humanized.delete.sra.gateway.setting=Error delete sra gateway setting
humanized.get.devices.failed=Error fetching Devices
humanized.get.tokens.failed=Error fetching Tokens
humanized.get.device.tokens.failed=Error fetching Tokens for Device
humanized.edit.device.failed=Edit Device Failed
humanized.edit.token.failed=Edit Token Failed
humanized.user.group.already.exists=User group already present
humanized.create.user.group=Create User Group Failed
humanized.get.usergroup.failed=Get user groups failed
humanized.update.user.group=Edit User group failed
humanized.user.usergroup.mapping=User to user-group mapping failed
humanized.user.group.binding.already.exists=User to User-group mapping already present
humanized.usergroup.binding.not.found=User to user-group mapping not found
humanized.usergroup.application.binding.already.exists=Application to User-group mapping already present
humanized.usergroup.application.binding.not.found=Application to user-group mappng not found
humanized.usergroup.application.mapping=Application to user-group mapping failed
humanized.get.usergroup.application.failed=Get user to user-group mapping failed
humanized.remove.usergroup=Removed user group
humanized.edit.attribute.failed=Edit attribute failed
humanized.delete.attribute.failed=Delete attribute failed
humanized.qr.code.generation.failed=QR code generation failed
humanized.logs.download.failed=Error downloading logs
humanized.onboard.enterprise.failed=Onboard enterprise failed
humanized.get.state.machine.workflow.failed=Get state machine workflows failed
humanized.get.account.custom.state.machine.failed=Get account custom state machine failed
humanized.state.machine.workflow.onboard.failed=State machine workflow onboard failed
humanized.state.machine.workflow.edit.failed=State machine workflow edit failed
humanized.get.attempt.type.failed=Get Attempt types failed
humanized.get.challenge.type.failed=Get Challenge type failed
humanized.account.custom.state.machine.onboard.failed=Account custom state machine onboard failed
humanized.account.custom.state.machine.edit.failed=Account custom state machine edit failed
error.message.user.credentials.not.present=User credential is mandatory
error.message.evidence.is.required=Evidence is required
error.message.invalid.bulk.upload.type=Bulk upload type not specified
humanized.upload.failed=Bulk upload failed
humanized.download.status.file.failed=Download status file failed
humanized.download.sample.csv.file.failed=Download sample csv file failed
error.message.application.not.active=Application status is not active
humanized.fetch.qr.status.failed=Fetch QR status failed
error.message.invalid.search.attribute=Invalid search attribute
error.message.duplicate.search.attribute=Duplicate search attribute
error.message.duplicate.attribute=Duplicate attribute
error.message.invalid.account.id=Account id is not specified
error.message.application.not.found=Application not found
error.message.application.already.present=Application already present
error.message.attribute.already.present.to.other=Attribute already present in the system for other user
error.message.user.update.pending=User update request already exist
error.message.invalid.token=User not authorize to access the resource
error.message.permission.denied=You don't have the appropriate permissions
error.message.io.exception=I/O Exception
error.message.invalid.application.id.or.password=Invalid application id or password
error.message.user.service.binding.failed=User and Service binding failed
error.message.invalid.mobile=Invalid Mobile number
error.message.invalid.application.for.user=Invalid Application for User
error.message.server.error=Something went wrong. Please try after sometime or contact the admin
error.message.account.not.found=Account not found
error.message.lookup.id.compulsory=Either lookupId1 or lookupId2 must be present
error.message.approval.attempt.type.invalid=Invalid TransactionId
error.message.invalid.consumer.id=Invalid ConsumerId
error.message.approval.attempt.not.approved=Binding transaction not approved. Please retry application binding
error.message.invalid.application.id=Invalid ApplicationId
error.message.invalid.admin.role=Existing and updated role is same
error.message.state.machine.workflow.onboard.request.already.present=Onboard state machine workflow request already present
error.message.state.machine.workflow.update.request.already.present=Update state machine workflow request already present
error.message.account.custom.state.machine.onboard.request.already.present=Onboard account custom state machine request already present
error.message.account.custom.state.machine.workflow.onboard.request.already.present=Update account custom state machine request already present
error.code.invalid.data=500
error.message.attribute.update.request.already.present1=Attribute update request already present
error.code.invalid.search.attribute=807
update.password.failed=Update password failed
error.message.same.password=Old password and new password are same
error.code.invalid.password=808
error.code.fallout.invalid.data=810
error.message.consent.required.not.allowed=isConsentRequired cannot be true
error.code.consent.required.not.allowed=806
humanized.reset.application.pin.failed=Reset Application password failed
error.message.invalid.fallout.operation=Invalid fallout operation
humanized.change.application.pin.failed=Change Application password failed
humanized.change.enterprise.pin.failed=Change Enterprise password failed
error.message.fallout.invalid.data=Invalid fallout data
error.code.invalid.search.attribute=811
account.policy.not.satisfied=Account policy not satisfied
error.message.invalid.user.credentials=Invalid user credentials
error.message.adfs.password.encryption.failed=ADFS password encryption failed
error.message.adfs.password.decryption.failed=ADFS password decryption failed
error.message.invalid.password.type=Invalid password type
humanized.encrypt.decrypt.password.failed=Encrypt Decrypt Password Failed
error.message.password.policy.not.satisfied=Password policy not satisfied
error.code.user.name.token.invalid=812
error.message.user.name.token.invalid=Username or password invalid

error.code.theme.not.found=814
error.message.theme.not.found=Theme Not Found

error.message.user.login.time.expired=User Last Login Time Expired. Please Contact Your SUPER-ADMIN

error.message.disable.user.failed=Disable User Failed
error.code.disable.user.already.present=813
error.message.disable.user.already.present=Disable user request is already present
error.message.invalid.user.state=user is not active please contact to the admin
error.message.update.falloutsyncdata.already.present=Fallout sync data update request already present
error.message.fallout.sync.data.not.found=Falloutsyncdata not found

error.code.generate.running.hash.failed=745
error.code.verify.running.hash.failed=746
humanized.generate.running.hash.failed=Error in generating running hash
humanized.verify.running.hash.failed=Error in verify running hash
error.message.invalid.running.hash=Invalid running hash

error.dev.message.invalid.request.body=request body is invalid or empty

error.message.ldap.details.edit.request.already.present=ldap details edit request already present

error.message.ldap.details.add.request.already.present=ldap details add request already present

error.message.ldap.details.edit.request.failed=edit ldap details failed

error.message.ldap.details.add.request.failed=add ldap details failed

error.message.get.ldap.details.failed=get ldap details failed

error.message.ldap.details.already.present=ldap details already present

error.message.self.blocking.not.permitted=self disabling not permitted

error.message.create.temp.details.request.already.present=Create template details request already present

error.message.edit.temp.details.request.already.present=Edit template details request already present

error.message.create.temp.details.failed=Create template details failed

error.message.get.temp.details.request.failed=Edit template details failed

error.message.delete.temp.details.request.failed=Delete template details failed

error.message.delete.temp.details.request.already.present=Delete template details request already present

error.message.temp.name.already.present=template id and template type already present in system

error.message.update.temp.details.request.failed=Edit template details failed

error.message.invalid.template.for.application=Invalid template provided

error.message.validation.rule.already.exist=validation rule already present for this template

error.message.template.not.found=template not found

