web.server.base.url=http://127.0.0.1:9080

pinning.host.name=qa.fortytwo42.in
pinning.hash=sha1/wRYTlL1lYODmDJDp4gj29s+TV9s=

adDomain=azdomain.local
adEncryptionKey=D98A47936BBD8135

threadpool.size=500

issuer=iam.fortytwo42.in
user=IAM_USER
tokenValidiyInMillis=600000

limit=10

job.key=ad_job
group=ad_group
trigger.key=ad_trigger

upload.esc.location=/usr/local/fortytwo42/config/adapter/ft42/uploadESC/

max.allowed.timeout=300
token.expiry.buffer=5
event.pool.size=10
binding.approval.timeout=5000

token.job.key=token_job
token.group=token_group
token.trigger.key=token_trigger
monitoring.server.ip=13.232.210.191
monitoring.server.port=2003

evidence.store.path=/usr/local/fortytwo42/evidence/
enterprise.type=SENDER

is.maker.checker.enabled=true
enterprise.to.peer.timeout=500
validate.license=false
access.token.lifespan=1200

#encryption-decryprion properties
decryption.key.test.mode=true
decryption.key.for.test=iti3362fk6pfd20y03unepg8za54vkat
salt.size=20
application.encryption.key=D98A47936BBD8135
encryptionKey=eThWmZq4t7w9z$C&F)J@NcRfUjXn2r5u

#email properties
email.queue.name=IAM.email
email.host=smtp.gmail.com
email.sender=sonali.kawle@neebal.com
email.password=ENC(zU4OJvBKMM40fM2kbyB40fIiggMEyxl2)
email.port=587
email.enable.TTLS=true
#email.subject=Update from Pi-Control Adapter
email.subject=DIMFA OTP
user.update.email.body=User %1$s request for username %2$s and mobile number %3$s is %4$s by %5$s
user.update.sms.body=User %1$s request for username %2$s and mobile number %3$s is %4$s by %5$s

#CAM properties
cam.admin.url=https://keycloak.fortytwo42.in:8443/
cam.pi-control.clientId=pi-control
cam.pi-control.secret=44F58C32BEA766A427C9CA3BC94C2
cam.realm=fortytwo42
is.cam.enabled=true

#CSV properties
csv.filename.pattern=^[0-9A-Za-z-_ ]+(.[cC][sS][vV])$
csv.folder.path=/usr/local/fortytwo42/backup/stagingCSV/
csv.processing.threadpool.size=1

#ADFS hotp properties
hotp.length=6
add.checksum=false
seed.length=20

#sms properties
queue.username=publisher
queue.password=application
sms.queue.name=IAM.sms
mode=debug

broker.url=tcp://localhost:61616
application.attempt.count=3
application.ttlinseconds=300
ad.domain=adfs.fortytwo42.in
ad.connection.url=ldap://4.213.72.245:389
adfs.connection.url=https://adfs.fortytwo42.in
adfs.application.identifier=adfs:ft42:test
adfs.port=443
adfs.hostname=adfs2016.adfs.fortytwo42.in
adfs.ssl.enabled=true
domain.name=*
application.secrete.validity=300
private.key.path=/usr/local/fortytwo42/config/adapter/iamadpuat.key

#Crypto properties
tls.enabled=true
crypto.retries=5505
crypto.ipVersion=3.3
crypto.logLevel=6
cryto.timeOut=400
cryto.numTokenTimeout=200321
cryto.proxyIp=14.234.34.456
cryto.proxyPort=3329
cryto.socksVersion=2
cryto.socksUsername=ftUser
cryto.socksPassword=1122334
crypto.sessionTimeout=123
jni.pool.map.clear=ALL
crypto.enabled=true
update.enable=true
esc.folder.path=/usr/local/fortytwo42/config/adapter/ft42/
crypto.server.ip=127.0.0.1
crypto.server.port=8765

#Cron expressions
QR.cron.expression=0 */5 * ? * *
user.auth.principal.schedular.time=0/10 * * ? * * *
cron.expression=0 0 */6 ? * *
token.deletion.cron.expression=0 0/1 * 1/1 * ? *

#infinispan properties
infinispan.host=localhost
infinispan.port=11222
infinispan.username=admin
infinispan.password=password
infinispan.rec.lifetime=1800

# ORM properties
crypto.db.host=iamtcs.cq8crwn48j7c.ap-south-1.rds.amazonaws.com
crypto.db.port=1521
crypto.db.name=iamtcs
crypto.db.username=admin
crypto.db.pass=cryptoft42#92658

#Validation regex
QR.prefix.regex=^[a-zA-Z0-9]{5}+$
SRA.gateway.settings.name.regex=^[a-zA-Z0-9_.-]*$
email.pattern=\\b[\\w.%-]+@[-.\\w]+\\.[A-Za-z]{2,4}\\b
input.validation.pattern=^[^-_.@\\s\\W][A-Za-z0-9-.@\\s\\.]*$
url.regex=^(?:(?:https?|ftp)://)?(?:\\d{1,3}\\.){3}\\d{1,3}(?::\\d+)?(?:/\\S*)?$|^(?:(?:https?|ftp)://)?(?:[a-z0-9-]+\\.)+[a-z]{2,}(?::\\d+)?(?:/\\S*)?$
mobile.pattern=^\\+91[1-9]{1}[0-9]{9}$
input.pattern=^[-_'@.,:&+()\\\\/\\[\\]\\w\\s\\d]*$
ad.username.pattern=[a-zA-Z]{2}[ceCE]{1}[0-9]{7}
ad.username.pattern=[a-zA-Z]{2}[ceCE]{1}[0-9]{7}

#health check properties
ids_iam__activemq_hostname=e2e-idc.fortytwo42.in
activemq_hostname=e2e-idc.fortytwo42.in
activemq_port=8161
ids_iam_port=9443
postgres_hostname=attr-chain-v2-database-1.cq8crwn48j7c.ap-south-1.rds.amazonaws.com
postgres_port=1521

#TOTP
#3.4.1
default.totp.hash.algorithm=SHA1
default.totp.number.of.digits=6
default.totp.expiry.in.sec=30

#crypto 3.4.1.1
orm.max.pool.size=100
orm.min.pool.size=5
orm.cleanup.interval.seconds=120
orm.ttl.seconds=180
orm.keepalive.interval.seconds=120
ci0.audit.interval.seconds=60
orm.retries=5
fips.state=false

esc.cache.size=50

#3.5.4
default.service.name=APPROVAL
#MFA
mfa.enabled=true

#3.5.4.7
ddup.test.mode=false

database.replica.server.address=localhost:27017
db.port=27017
database.name=identitystoredb
authentication.database.name=identitystoredb
environment=uat
database.username=idsAdmin
database.password=ids@123
replica.set.name=rs0
database.sharded=true
ssl.trust.store.password=root42
ssl.trust.store.file.path=/usr/local/fortytwo42/config/mongo-keys/trust.p12
ssl.key.store.password=root42
ssl.client.cert.file.path=/usr/local/fortytwo42/config/mongo-keys/client.p12
http.ssl.state=true
mongo.ssl.state=true
authentication.database.name=identitystoredb
mongo.allow.invalid.hostnames=false
db.restore.file.path=/usr/local/fortytwo42/
ssl.key.store.type=PKCS12
authentication.database.name.iam=iamdb
database.name.iam=iamdb
database.replica.server.address=localhost
database.username.iam=iamAdmin
database.password.iam=iam@123

adfs.send.otp.retry=1

#3.5.4.7 - Fallout properties
fallout.process.start.time.millis=86400000
fallout.process.client.id=0e50fbe72ae115ae5812
fallout.process.client.secret=693916a12ad010cb79b064b0f35d76405cb3df588a8280ae49ac2eec7f2c
fallout.process.bank.id=ICI
fallout.process.username=ICI.VTUSER
fallout.process.password=p@king1
fallout.process.language.id=001
fallout.process.channel.id=I
fallout.process.grant.type=password
fallout.process.vt.token.url=https://apiampuat.icicibankltd.com/v1/login/banks/v2/oAuth/token
fallout.process.deh.url=https://apiampuat.icicibankltd.com/v1/deh/banks/customFT42/mobilesyncfailedstatus
fallout.process.schedular.time=0 0 0 1/1 * ? *
fallout.process.api.key=MMC4xY2Kq7c7TMkNvTfcI2eFJBotQE0kNhvgJNFaYjuB9DSV
fallout.process.deh.status=SUCCESS
fallout.process.ft42.status=FAILED
fallout.process.no.record.header.name=channelcontext
fallout.process.no.record.message.code=8504

#3.5.6.1
login.expiry.time.in.millis=31104000000
attribute.metadata.cache.timeout.in.seconds=1800
attribute.verifier.cache.timeout.in.seconds=1800

onboard.user.url=https://40.81.241.225:8443/pi-control-adapter/v3/users/onboard_user
ddup.mode.with.813=true
apigee.xapi.key.header.name=x-apikey
apigee.xapi.key.header.value=MMC4xY2Kq7c7TMkNvTfcI2eFJBotQE0kNhvgJNFaYjuB9DSV
account.lock.duration.in.millis=86400000
admin.login.retries=3
external.config.cache.timeout.in.seconds=1800
is.attribute.in.uppercase=true

#3.6.5.1
admin.totp.log.thread.size=50