enterprise.id=1500000005
enterprise.password=123456
enterprise.did=3d2691dd2884b78b60870c28910d52664330c1e9e80c68d5f6152f53231f4881
database.replica.server.address=localhost:27017
database.name=iam_idc
database.username=cryptoserver
database.password=cryptoft42%40123$
replica.set.name=rs0
database.sharded=false
http.ssl.state=false
mongo.ssl.state=false
authentication.database.name=iam_idc
mongo.allow.invalid.hostnames=false
sql.database.url=jdbc:oracle:thin:@attr-chain-v2-database-1.cq8crwn48j7c.ap-south-1.rds.amazonaws.com:1521/ORCL
sql.database.username=ft42dbadmin
sql.database.password=ft42dbadminneebal


